/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8c291;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    color: #fff;
}

main {
    padding: 20px;
}

.intro {
    text-align: center;
}

.promise {
    margin-top: 20px;
}

.quote {
    margin-top: 20px;
    text-align: center;
}

footer {
    background-color: #f8c291;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
